<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BrontoSoapApiImplServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BrontoSoapApiImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.bronto.com/v4"
                binding="basicHttpBinding"
                bindingConfiguration="BrontoSoapApiImplServiceSoapBinding"
                contract="Bronto.BrontoSoapPortType"
                name="BrontoSoapApiImplPort" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="ProviderSendGrid" value="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" />
  </appSettings>
</configuration>